<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Desert</key>
	<array>
		<string>Power Yogurt</string>
		<string>Protein shake Blend</string>
	</array>
	<key>dinner</key>
	<array>
		<string>Rice and Beans</string>
		<string>The GOOD Salad</string>
	</array>
	<key>lunch</key>
	<array>
		<string>Big tuna</string>
		<string>Grilled Cheese Sandwhich</string>
	</array>
	<key>Breakfast</key>
	<array>
		<string>Oatmeal</string>
		<string>Egg Omlet</string>
	</array>
</dict>
</plist>
